

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bannImg {
  background-image: url("img/pexels-roman-odintsov-4551414_cr.jpg");
  background-size: cover;
}

.bannTxt{
  background-color: white;
  color: black;

  margin: 0 auto; /* Center the text container */
  padding: 5px;
  width: 50%;
  text-align: center; /* Center text */

  mix-blend-mode: screen; /* This makes the cutout text possible */
}

#cartB {
    position: fixed; /* Fixed/sticky position */
    bottom: 40px; /* Place the button at the bottom of the page */
    right: 50px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 20px; /* Increase font size */
  }



#cartB:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  .btnpress {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  display: block;
  width: 100%;
}

.btnpress:hover {background-color: #3e8e41}

.btnpress:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.productCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  font-family: arial;
}

.productTitle { 
  font-size: 24px;
  background-color: black;
 }

.price {
  font-size: 22px;
}

